body {
  background-color: #A6CF98;
}
.container {
  display: flex;
  justify-content: center;
  font-family: 'Cagliostro', sans-serif;
}
.header {
  background-color: #557C55;
}
h1 {
  letter-spacing: 2px;
  font-family: 'Cagliostro', sans-serif;
}
img {
  margin-top: 10px;
}
button {
  background-color: #FA7070;
  border-radius: 500px;
  border: none;
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px;
  letter-spacing: 2px;
  margin-bottom: 50px;
  margin-top: 50px;
  font-family: 'Cagliostro', sans-serif;

}
.del {
  background-color: #F2FFE9;
  color: #557C55;
  margin-bottom: 100px;
  margin-top: 0;
}

.btn {
  background-color: #F5EEC8;
  border: 1px solid black;
  font-size: 12px;
  border-radius: 0%;
  margin: 5px;
}
.heading {
  background-color: #F2FFE9;
  letter-spacing: 2px;
  font-size: 26px;
}